<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
    <p th:inline="text">The song name was <span style="color: red;">[[${song.name}]]</span>.<br/>
    The artist name is <span style="color: red;">[[${song.artist}]]</span>.<br/>
    The album name is <span style="color: red;">[[${song.album}]]</span>.<br/>
    The rating was <span style="color: red;">[[${song.rating}]]</span> and the year it came out on was
        <span style="color: red;">[[${song.year}]]</span>.</p>


</body>
</html>